<div class="jumbotron">
<div id="farsi-table">

<div class="row-1">
<div id="alef" class="btn btn-success"><span class="letter">ا</span></div>
<div id="beh" class="btn btn-success"><span class="letter">ب</span></div>
<div id="peh" class="btn btn-success"><span class="letter">پ</span></div>
<div id="teh" class="btn btn-success"><span class="letter">ت</span></div>
<div id="seh" class="btn btn-success"><span class="letter">ث</span></div>	
<div id="jim" class="btn btn-success"><span class="letter">ج</span></div>	
<div id="cheh" class="btn btn-success"><span class="letter">چ</span></div>	
<div id="heh" class="btn btn-success"><span class="letter">ح</span></div>	
<div id="khe" class="btn btn-success"><span class="letter">خ</span></div>
</div>

<div class="row-2">
<div id="dal" class="btn btn-success"><span class="letter">د</span></div>	
<div id="zal" class="btn btn-success"><span class="letter">ذ</span></div>	
<div id="re" class="btn btn-success"><span class="letter">ر</span></div>	
<div id="ze" class="btn btn-success"><span class="letter">ز</span></div>	
<div id="zhe" class="btn btn-success"><span class="letter">ژ</span></div>	
<div id="seen" class="btn btn-success"><span class="letter">س</span></div>	
<div id="sheen" class="btn btn-success"><span class="letter">ش</span></div>	
<div id="saad" class="btn btn-success"><span class="letter">ص</span></div>	
<div id="zaad" class="btn btn-success"><span class="letter">ض</span></div>	
<div id="taa" class="btn btn-success"><span class="letter">ط</span></div>	
<div id="zaa" class="btn btn-success"><span class="letter">ظ</span></div>	
</div>

<div class="row-3">
<div id="'ain" class="btn btn-success"><span class="letter">ع</span></div>	
<div id="gh'ain" class="btn btn-success"><span class="letter">غ</span></div>	
<div id="fe" class="btn btn-success"><span class="letter">ف</span></div>	
<div id="qaaf" class="btn btn-success"><span class="letter">ق</span></div>	
<div id="kaaf" class="btn btn-success"><span class="letter">ک</span></div>	
<div id="gaaf" class="btn btn-success"><span class="letter">گ</span></div>	
<div id="laam" class="btn btn-success"><span class="letter">ل</span></div>	
<div id="meem" class="btn btn-success"><span class="letter">م</span></div>	
<div id="nun" class="btn btn-success"><span class="letter">ن</span></div>	
<div id="vaav" class="btn btn-success"><span class="letter">و</span></div>	
<div id="he" class="btn btn-success"><span class="letter">ه</span></div>	
<div id="ye" class="btn btn-success"><span class="letter">ی</span></div>	
</div>


</div>
</div>