<div class="jumbotron language" id="<%= @language.id %>">
	<div class="ui grid letters-button">
			<% @language.letters.each do |letter| %>
				<div id="<%=letter.id%>" class="btn btn-success letter-container">
					<span class="letter"><%= letter.isolated %></span>
				</div>
			<% end %>
	</div>
</div>

<div class="jumbotron language">
	<div class="lettercard ui raised segment letter-focus">
		<table class="table table-striped table-hover">
			<thead>
				<tr class="primary">
					<th>Letter Name</th>
					<th>Isolated</th>
					<th>Initial</th>
					<th>Medial</th>
					<th>Final</th>
					<th>Sound</th>
				</tr>
			</thead>
			<tbody>
				<tr class="rtl-language-display success">
					<td id="name"></td>
					<td id="isolated"></td>
					<td id="initial"></td>
					<td id="medial"></td>
					<td id="final"></td>
					<td id="sound"><audio controls src=''></audio></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>