<h2>Hi <%= current_user.email.gsub(/[@]+[\D]+/, "") %></h2>
<h3>Here's your user page, one day you'll be able to see all the cool letters you learned. In the meantime, here's some cool calligraphy</h3>

<img style="margin-left: 30%; width: 40%;" src="http://2.bp.blogspot.com/-ANEMnEcb3OA/T19-ToLKraI/AAAAAAAAEfk/VNIGoZ7NPU8/s1600/saeedi41.jpg"/>