<div class="jumbotron">
	<h2>Enter a word or phrase to hear it, or click on one below</h2>
	<form class="words">
	<input type="text" id="inpSpeakMe" class="form-control" placeholder="Say something...">

	<input type="button" id="btnSpeak" class="voice btn" value="🔊 Play"></input>
	</form>
</div>

<div class="words-container">
	<table class="table table-striped table-hover">
		<thead>
			<tr class="primary">
				<th>Russian</th>
				<th>Pronunciation</th>
				<th>English</th>
			</tr>
		</thead>
		<tbody id="word-body">
		</tbody>
	</table>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
//Speak word from input field
	document.getElementById("btnSpeak").addEventListener("click", function(event){
		event.preventDefault();

		var text = document.getElementById("inpSpeakMe").value
		
		responsiveVoice.speak(text, "Russian Female");
});

//Speak word from table
$("#word-body").on("click", "tr", function(){
	event.preventDefault();
	var text = event.target.innerText

	responsiveVoice.speak(text, "Russian Female")
})

//Grab data from Kimono produced API and display in table
//I could probably just save this to my database, but I wanted to practice using this format!

	  $.ajax({
  url:"https://www.kimonolabs.com/api/e31t2jgq?apikey=9X1zfnWhK71ewfafn5raKAv7ebmYetHx",
  crossDomain: true,
  dataType: "jsonp",
  success: function (response) {
  	var collection = response["results"]["collection1"]
	  	for (var i=0; i < collection.length; i++){
	  		$("tbody#word-body").append("<tr id="+i+"><td id='ru'>"+collection[i]['russian_words']+"</td></tr>");
	  		$("tr#"+i).append("<td id='phonetic'>"+collection[i]['pronunciation']+"</td><td id='en'>"+collection[i]['english_translation']+"</td>");
  		}
  	},
  error: function (xhr, status) {
    //handle errors
    console.log("error");
  }
});

</script>

